<!DOCTYPE html>
<html>
<head>
    <title>FastAPI MongoDB App</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">

    <h1>User Registration</h1>

    <form action="/add" method="post">
        <input type="text" name="name" placeholder="Enter Name" required>

        <input type="email" name="email" placeholder="Enter Email" required>

        <button type="submit">Save</button>
    </form>

    <h2>Registered Users</h2>

    <ul>
        {% for user in users %}
        <li>
            {{ user.name }} - {{ user.email }}
        </li>
        {% endfor %}
    </ul>

</div>

</body>
</html>